body {
   color: var(--DarkGray);
   font-family: Arial, sans-serif;
}

.input-group {
   border: 1px black solid;
}

.listingSection {
   width: 1300px;
   margin: 20px auto;
}

.listingHeading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 20px;
}

.listingSectionName {
   margin: 0 0 10px 10px;
   font-size: 24px;
   font-weight: bold;
}

.viewAll {
   margin-right: 10px;
   text-decoration: none;
   color: var(--DarkRed100);
   font-weight: bold;
}

.viewAll:hover {
   text-decoration: underline;
}

.featuredListings {
   display: flex;
   align-items: flex-end; 
   overflow-x: auto;
   gap: 20px;
   padding-bottom: 10px;
   scroll-snap-type: x mandatory;
   width: 100%;
}

@keyframes fade-shadow {
   0% {
       box-shadow: 0 0 5px 0 rgb(188, 188, 188);
   }
   100% {
       box-shadow: 0 0 10px 0 rgb(125, 125, 125);
   }
}

.listing {
   display: flex;
   flex-direction: column;
   width: 300px;         
   height: 400px;          
   border: 1px solid rgb(188, 188, 188);
   border-radius: 15px;
   box-shadow: 0 0 5px 0 rgb(188, 188, 188);
   margin: 10px 20px;
   overflow: hidden;
   background-color: #fff;
}

.listingImg {
   width: 100%;
   height: 200px;        
   object-fit: cover;       
   object-position: center; 

}

.listingText {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   flex-grow: 1;
   overflow: hidden;
}

.listingTitle {
   margin: 10px 0 5px 0;
   font-size: 18px;
   font-weight: bold;
   color: var(--DarkGray);
   margin-bottom: 5px;
   line-height: 1.2;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.listingDescription {
   color: #666;
   margin: 5px 0;
   line-height: 1.2;
   max-height: 3em; 
   overflow: hidden;
   text-overflow: ellipsis;
}

.price {
   font-size: 16px;
   font-weight: bold;
   color: var(--DarkRed100);
   margin: 5px 0;
}

.CTAbutton {
   display: inline-block;
   background-color: var(--DarkRed100);
   color: white;
   font-size: 14px;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   margin-bottom: 10px;
   cursor: pointer;
   transition: background-color 0.2s ease; 
}

.CTAbutton:hover {
   background-color: var(--DarkRed050);

}