body {
   color: var(--DarkGray);
   font-family: Arial, sans-serif;
}

.input-group {
   border: 1px black solid;
}

.listingSection {
   width: 1300px;
   margin: 20px auto;
}

.listingHeading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 20px;
}

.listingSectionName {
   margin: 0 0 10px 10px;
   font-size: 24px;
   font-weight: bold;
}

.viewAll {
   margin-right: 10px;
   text-decoration: none;
   color: var(--DarkRed100);
   font-weight: bold;
}

.viewAll:hover {
   text-decoration: underline;
}

.featuredListings {
   display: flex;
   overflow-x: auto;
   gap: 20px;
   padding-bottom: 10px;
   scroll-snap-type: x mandatory;
   width: 100%;
}

.listing:hover {
   animation: fade-shadow 0.25s forwards;
}

.listingDescription {
   height: 60px;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 14px;
   color: #666;
}

.CTAbutton:hover {
   background-color: var(--DarkRed050); 
}

@keyframes fade-shadow {
   0% {
       box-shadow: 0 0 5px 0 rgb(188, 188, 188);
   }
   100% {
       box-shadow: 0 0 10px 0 rgb(125, 125, 125);
   }
}

.listing {
   display: flex;
   flex-direction: column;
   width: 300px;
   border: 1px solid rgb(188, 188, 188);
   border-radius: 15px;
   box-shadow: 0 0 5px 0 rgb(188, 188, 188);
   margin: 10px 20px;
   overflow: hidden;
   background-color: #fff;
}

.listingImg {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.listingText {
   padding: 10px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.listingTitle {
   margin: 10px 0 5px 0;
   font-size: 18px;
   font-weight: bold;
   color: var(--DarkGray);
}

.listingDescription {
   color: #666;
   height: 60px;
   margin-top: 0;
}

.price {
   display: inline-block;
   margin: 4px 0 0 0;
}

.CTAbutton{
   display: inline;
   background-color: var(--DarkRed100);
   color: white;
   font-size: 14px;
   height: 28px;
   float: right;
   border: none;
   border-radius: 5px;
   margin-bottom: 10px;
}

.CTAbutton:hover{
   cursor: pointer;
   background-color: var(--DarkRed050);
}
