:root{
   --PrimaryRed : #d6001c;

   --DarkRed100 : #ab2328;
   --DarkRed075 : #c35442;
   --DarkRed050 : #d58570;
   --DarkRed025 : #eabcad;

   --DarkBlue100 : #00205b;
   --DarkBlue075 : #2b517f;
   --DarkBlue050 : #667ba2;
   --DarkBlue025 : #a5b0cb;

   --LightBlue100 : #7fa9ae;
   --LightBlue075 : #94c0c6;
   --LightBlue050 : #b3d3d5;
   --LightBlue025 : #d4e6e8;

   --DarkGray : #54585a;
   --LightGray : #9ea2a2;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.headerbutton {
   padding: 10px 25px;
   margin: 0px 25px;
   font-size: 16px;
   border: none;
   border-radius: 15px;
   background-color: #a73236;
   color: white;
   transition: background-color 0.3s, transform 0.3s ease;
}

.headerbutton:hover{
   cursor: pointer;
   background-color: #ab2328;
}
 
#header{
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
   background-color: lightgray;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   z-index: 10;
   padding: 0 0 20px 0;
}

#header-buttons{
   display: flex;
   flex-grow: 1;
   justify-content: flex-end;
   align-items: center;
   height: 100%;
   margin-right: 40px;
   gap: 15px;
}

.profile-container {
   position: relative; 
   display: inline; 
   cursor: pointer;
 } 

.profileIcon {
   width: 38px;
   height: 38px;
   margin: 10px 25px;
   border-radius: 50%;
   padding-top: 5px;
   cursor: pointer;
}

.profile-container:hover .dropdown-menu{
   display: block;
}

.logo{
   width: 205px;  
   height: 80px; 
   margin: 10px 10px 10px 50px;
   cursor: pointer;
}

.dropdown-menu {
   display: none; 
   position: absolute; 
   right: -11px; 
   background-color: white; 
   border: 1px solid #ccc; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   z-index: 1; 
}
 
.dropdown-menu a {
   display: block; 
   padding: 10px; 
   color: var(--DarkRed100); 
   text-decoration: none; 
   width: 90px;
}
 
.dropdown-menu a:hover {
   background-color: #f0f0f0; 
}

#footer {
   width: 100%;
   background-color: #a73236;
   color: white;
   padding: 3px 0 3px 0;
   text-align: center;
   font-size: 17px;
}

#footer p {
   color: white !important;
}